# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
.env
.env.*

# === Virtual Environment ===
venv/
.venv/
ENV/
env/

# === Django ===
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# === IDE / Editors ===
.vscode/
.idea/
*.swp
*.swo

# === OS ===
.DS_Store
Thumbs.db

# === Coverage / Tests ===
htmlcov/
.coverage
.pytest_cache/

# === Node (если позже будет frontend) ===
node_modules/
dist/


user/migrations/
tasks/migrations/